<header>
  <h3>Family Assignments</h3>
</header>
<section class="row">
  <button class="btn btn-success">
    Rake Leaves
  </button>
  <button class="btn btn-success">
    Do Dishes
  </button>
  <button class="btn btn-success">
    Do Laundry
  </button>
</section>
<section class="row">
  <div class="card col">
    <div class="card-body">
      <h5 class="card-title">Henry</h5>
      <h6 class="card-subtitle mb-2 text-muted">Henry Has 3 Todos, 1 is done.</h6>
      <div class="card-body">

        <ol>
          <li>Clean Garage</li>
          <li>Take out Trash</li>
          <li class="completed">Fix Deck</li>

        </ol>
        <div>
          <select name="tasks"
                  class="form-control"
                  id="">
            <option>Rake Leaves</option>
            <option>Do Dishes</option>
            <option>Do Laundry</option>
          </select>
          <input type="button"
                 class="btn btn-primary btn-sm"
                 value="Assign">
        </div>
      </div>
    </div>
  </div>
  <div class="card col">
    <div class="card-body">
      <h5 class="card-title">Violet</h5>
      <h6 class="card-subtitle mb-2 text-muted">Henry Has 2 Todos, 0 is done.</h6>
      <div class="card-body">
        <ol>
          <li>Clean Room</li>
          <li>Make Pumpkin Pie</li>
        </ol>
        <div>
          <select name="tasks"
                  class="form-control"
                  id="">
            <option>Rake Leaves</option>
            <option>Do Dishes</option>
            <option>Do Laundry</option>
          </select>
          <input type="button"
                 class="btn btn-primary btn-sm"
                 value="Assign">
        </div>
      </div>
    </div>
  </div>
  <div class="card col">
    <div class="card-body">
      <h5 class="card-title">Stacey</h5>
      <h6 class="card-subtitle mb-2 text-muted">Stacey Has 0 Todos, 0 is done.</h6>
      <div class="card-body">
        <ol>

        </ol>
        <div>
          <select name="tasks"
                  class="form-control"
                  id="">
            <option>Rake Leaves</option>
            <option>Do Dishes</option>
            <option>Do Laundry</option>
          </select>
          <input type="button"
                 class="btn btn-primary btn-sm"
                 value="Assign">
        </div>
      </div>
    </div>
  </div>
  <div class="w-100"></div>




</section>
